@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background-color: #3f3f3f;
}
h1{
    color: rgb(252, 243, 243);
    text-align: center;
    border: 2px solid rgb(219, 238, 9);
    margin: 25px;
    background-color: rgb(38, 38, 45);
}